page {
    background-color: #C7dec0;
    font-size: 34rpx;
}

.title_input {
    height: 90rpx;
    padding-left: 10rpx;
    padding-top: 25rpx;
    background-color: #99c48e;

    input {
        float: left;
        // display: flex;
        // justify-content: center;
        align-items: center;
        background-color: #99c48e;
        // color: #666;
        width: 625rpx;
    }

    button {
        height: 50rpx;
        padding: 0;
        border: none;
        image {
            width: 50rpx;
        }
    }
}

.content {
    width: 100%;
    margin-bottom: 20rpx;
    // border: 10rpx solid red;
    .content_image {
        padding-top: 10rpx;
        display: flex;
        justify-content: center;
        image {}
    }
    .content_text {
        padding-top: 10rpx;
        height: 1200rpx;
        .text_area{
            width: 100%;
        }
    }
}

.bottom{
    button {
        padding: 0;
        height: 100rpx;
        width: 100rpx;
        position: flex;
        bottom: 0;
        border: none;
        
        image {
            width: 100rpx;
        }
    }
}